{% extends 'accumulator/base.html' %}

{% block content %}
{% if message %}
  {% for msg in message %}
    <h3>{{ msg }}</h3>
  {% endfor %}
{% endif %}
<h3>Here is a list of all the bookies listed so far</h3>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Online bookies</th>
      <th>Click button to view</th>
      <th>Click to update</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>William Hill</td>
      <td><a href="{% url 'william_hill' update_no=0 %}">Click to view</a></td>
      <td><a href="{% url 'william_hill_update' update_no=1 %}">Click here to update</a></td>
    </tr>
    <tr>
      <td>Coral</td>
      <td><a href="{% url 'coral' update_no=0 %}">Click to view</a></td>
      <td><a href="{% url 'coral' update_no=1 %}">Click here to update</a></td>
    </tr>
    <tr>
      <td>Bet Victor</td>
      <td>Click to view</td>
      <td>Click here to update</td>
    </tr>
  </tbody>
</table>
{% endblock %}
