{% load staticfiles %}
{% load mathfilters %}

<html>
<head>
  <title>Group Accumulator</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
<body>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <!--<p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>-->
    </div>
    <div class="col-sm-8 text-left">
      <h4>{{ infos.0.0 }}</h4>
      <h5>{{ infos.0.1 }}</h5>
      <h5>
        <div class="col-sm-2">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">View all Bookies
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              {% for bookie in bookies %}
                <li><a href="{% url 'accumulator_bookies_name' slug=bookie.bookies_name %}">{{ bookie.bookies_name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
          <p id="results" class="dropdown"></p>
        </div>
      </h5>
      {% if main_page_load == True %}
        <div id='main_page_load'></div>
      {% endif %}
      {% if games_with_odds_load == True %}
        <div id='games_with_odds_load'></div>
      {% endif %}
      {% if mad_combos == True %}
        <div id='mad_combos'></div>
      {% elif mad_combos2 == True %}
        <div id='mad_combos2'></div>
      {% else %}
        {% if each_match == True %}
          <form method='POST' action='/index/'>{% csrf_token %}
            <div id='each_match'></div>
          </form>
        {% endif %}
      {% endif %}

    </div>
    <div class="col-sm-2 sidenav">
      <!--<div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>-->
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'js/async.js' %}"></script>
</body>
</html>
