<h2>Hello World! This is the index page</h2>

<form method='POST' action='.'>{% csrf_token %}
  <fieldset>
    <legend>Choose max 2 accumulators</legend>
      {% for odd in odds %}
          <input type="checkbox" name="Accumulator" value="{{ odd.0 }}" />
          <strong>Game - </strong><i name="game" id="games">{{ odd.0 }}</i>
          <strong> Home odds - </strong><i name="home" id="home_odds">{{ odd.1 }}</i>
          <strong> Draw odds - </strong><i name="draw" id="draw_odds">{{ odd.2 }}</i>
          <strong> Away odds - </strong><i name="away" id="away_odds">{{ odd.3 }}</i>
          <br />
      {% endfor %}
      <p>
        Stake £: <input id="stake" name="stake" type="text" placeholder="Enter stake here"
      </p>
      <input type="submit" value="Get accumulator" />
  </fieldset>
</form>

{% if match != None %}
  <b>{{ match.0 }}</b> and <b>{{ match.1 }}</b>
{% endif %}

<ul>
  {% for combos in combinations %}
    <li><strong>Game outcome: </strong>{{ combos.0.1 }} - {{ combos.0.3 }}
    <strong>Match 1 odd: </strong>{{ combos.1.0 }}
    <strong>Match 2 odd: </strong>{{ combos.1.1 }}
    <strong>Accumulator profit: </strong>£{{ combos.2 }}</li>
  {% endfor %}
</ul>
