#BelowStake {
  background-color: #D60F3D;
  color: #FFFFFF;
}
#refresh_padding {
  padding-bottom: 10px;
  padding-right: 30px;
}
#combinations_info {
  position: relative;
  padding-left: 0px;
}
.get_font_size_1 {
  font-size: 16px;
}
.get_font_size_2 {
  font-size: 14px;
}
.col-sm-2 {
  padding-left: 0px;
  padding-bottom: 10px;
}
